div.msgbox
{
	padding: 12px 40px 12px 40px;
	margin-bottom: 15px; /* for next item */
	border-radius: 10px;
	position: relative;
	margin: 6px auto;
	max-width: 500px;

	background-color: var(--color-shadow);
	border: 1px solid var(--color-overlay);
	color: #000;

	transition: all var(--transition-speed) ease allow-discrete;
}

div.msgbox.alert { background: rgba(220,20,60, 0.9) url('../images/error.png') no-repeat 12px 50%; }
div.msgbox.warning { background: rgba(255, 165, 0, 0.9) url('../images/warning.png') no-repeat 12px 50%; }
div.msgbox.info { background: rgba(100,149,237, 0.8) url('../images/notice.png') no-repeat 12px 50%; }
div.msgbox.success { background: rgba(60,179,113, 0.9) url('../images/success.png') no-repeat 12px 50%; }

div.msgbox input {
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	position: absolute;
	right: 15px;
	top: 10px;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	cursor: pointer;
	transition: 0.3s;
}

div.msgbox input:before {
	content: '\D7'; /* &times; */
}

div.msgbox input:hover {
	filter: invert(100%);
}

div.msgbox:has(input:checked) {
	visibility: hidden; /* display: none; not work with transition */
	transform: translateY(-50px);
	opacity: 0;
}
