* { box-sizing: border-box; margin: 0; padding: 0; }

:root {
	--header-height: 60px;
	--footer-height: 15px;
	--sidebar-width-icon: 93px;
	--sidebar-width-open: 280px;
	--content-padding: 30px;
	--transition-speed: 0.3s;
}

html { scroll-behavior: smooth; scroll-padding-top: var(--header-height); }

body {
	font-family: arial, helvetica, sans-serif;
	line-height: 1.6;
	color: #333;
	background-color: #fff;
}

a /* all links */
{
	cursor: pointer; /* links without href */
	text-decoration: none; /* disable underline */
	outline: none; /* disable focus */
	color: inherit; /* disable color change */
}

h1, h2, h3, p, section { margin-bottom: 1em; }

header {
	display: flex;
	align-items: center;

	position: fixed; top: 0; left: 0;
	width: 100%; height: var(--header-height); 
	background-color: #333; color: #fff; border-bottom: 2px solid #555;
	padding: 0 10px;
}
header h1 {
	margin: 0 auto 0 0; /* left / 0 auto; for center */
	font-size: 1.5em; padding-left: 10px;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

table, th, td {
	border: 1px solid #333;
}

/* msgbox */
div.msgbox
{
    padding: 20px 40px 20px 40px;
    margin-bottom: 15px;
	border-radius: 10px;
	position: relative;
}

div.msgbox.alert { background: rgba(220,20,60, 0.8) url('images/error.png') no-repeat 12px 50%; }
div.msgbox.warning { background: rgba(255, 165, 0, 0.8) url('images/warning.png') no-repeat 12px 50%; }
div.msgbox.info { background: rgba(100,149,237, 0.8) url('images/notice.png') no-repeat 12px 50%; }
div.msgbox.success { background: rgba(60,179,113, 0.8) url('images/success.png') no-repeat 12px 50%; }

div.msgbox input {
	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	position: absolute;
    right: 15px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

div.msgbox input:before {
    content: '\D7'; /* &times; */
}

div.msgbox input:hover {
    color: black;
}

div.msgbox:has(input:checked) {
	display: none;
}

/* popup */
div.popup {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	background: rgba(255, 255, 255, 0.8); /* not apply opacity to child elements */
	display: flex;
	align-items: center;
}

div.popup form {
	min-width: 400px;
	margin: 0 auto;
}

div.popup fieldset {
	background-color: #fff;
	padding: 25px;
	border-radius: 20px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

div.popup legend {
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 2px;
}

div.popup fieldset > div {
	display: flex;
	gap: 20px;
}

div.popup label {
	display: block;
	margin: 15px 0px 5px 15px;
}

div.popup input[type="submit"] {
	margin-top: 15px;
	text-transform: uppercase;
	cursor: pointer;
}

div.popup input:not([type="checkbox"]) {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 15px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

/* burger menu */
/* background gradient by Temani Afif https://verpex.com/blog/website-tips/how-to-create-a-responsive-hamburger-menu-using-css */
#burger {
	display: none; /* hidden on desktop by default */
	width: 25px; height: 25px; aspect-ratio: 1;
	margin: 10px; padding: 1px;

	appearance: none; -moz-appearance: none; -webkit-appearance: none;
	cursor: pointer;

	background: /* linear-gradient(#fff 50%, #0000 0) 0 0/100% 40%; */
		radial-gradient(closest-side at 12.5% 25%, #fff 96%, #0000) 0 0/80% 40%,
		linear-gradient(#fff 50%, #0000 0) top/80% 40% repeat-y;
	transition: transform var(--transition-speed) ease, opacity var(--transition-speed) ease;
}
#burger:checked {
	background: /* conic-gradient(from 90deg at 33% 33%, #0000 90deg, #fff 0) 100% 100%/60% 60%; */
		radial-gradient(closest-side at 50% 12.5%, #fff 96%, #0000) top /20% 80% repeat-y,
		radial-gradient(closest-side at 12.5% 50%, #fff 96%, #0000) left/80% 20% repeat-x,
		conic-gradient(from 90deg at 33% 33%, #0000 90deg, #fff 0)
		100% 100%/60% 60% padding-box content-box;
	transform: translateZ(0px) rotate(45deg);
}

/* sidebar */
nav {
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: scroll;

	width: var(--sidebar-width-icon);
	height: calc(100vh - var(--header-height));
	position: fixed; top: var(--header-height); left: 0;
	background-color: #f4f4f4; border-right: 1px solid #ddd;
	box-shadow: 2px 0 8px rgba(0,0,0,0.2);
	transition: left var(--transition-speed) ease-in-out, width var(--transition-speed) ease-in-out;
}
nav:hover { width: var(--sidebar-width-open); }

nav > ul:not(:first-of-type):last-of-type  { margin-top: auto; } /* if more than one ul, then last ul align to bottom */

nav ul li a {
	display: flex;
	align-items: center;

	margin: 10px;
	padding: 10px 20px;
	border-radius: 2em;
	
	text-decoration: none;
	color: #333; 

	overflow: hidden;
	white-space: nowrap;
}
nav ul li a:hover { background-color: #e2e2e2; color: #000; }
nav ul li a.active { background-color: #d1d1d1; color: #000; font-weight: bold; }
nav ul li a img { width: 32px; height: 32px; margin-right: 20px; }
nav ul li input[type='checkbox'] {
	margin-left: auto; /* align to right */
	appearance: none;
	display: flex;
	cursor: pointer; /* links without href */
}
nav ul li input[type="checkbox"]::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  clip-path: polygon(0% 0%,0% 100%,100% 50%); /* https://bennettfeely.com/clippy/ */
  background-color: #000;
  transition: transform var(--transition-speed) ease;
}
nav ul li input[type="checkbox"]:checked::before {
	transition: transform var(--transition-speed) ease;
	transform: rotate(90deg);
}
nav ul li:has(input[type="checkbox"]) ul {
	display: none;
}
nav ul li:has(input[type="checkbox"]:checked) ul {
	display: block;
}

/* content wrapper (main + footer) */
#content {
	margin-top: var(--header-height);
	margin-left: var(--sidebar-width-icon);
	transition: margin-left var(--transition-speed) ease-in-out;
	padding: var(--content-padding);
}
main {
	min-height: calc(100vh - var(--header-height) - var(--footer-height) - (2* var(--content-padding)));
}
footer {
	height: var(--footer-height);
	border-top: 1px solid #ccc; text-align: center; font-size: 0.9em;
}

/* big screen - open menu */
@media only screen and (orientation: landscape) and (min-width: 2600px) {
	nav {
		width: var(--sidebar-width-open); /* full open */
	}

	#content {
		margin-left: var(--sidebar-width-open); /* set content offset */
	}
}

/* mobile - landscape - hide header */
@media only screen and (orientation: landscape) and (max-height: 400px) {
	header {
		display: none;
	}

	nav {
		top: 0px; /* remove menu offset */
		height: 100%;
		padding-bottom: 0px;
	}

	#content {
		margin-top: 0; /* remove content offset */
	}
}

/* mobile - burger menu */
@media only screen and (orientation: portrait) and (max-width: 600px) {
	#burger {
		display: block; /* show burger button */
	}

	nav {
		width: var(--sidebar-width-open); /* open it */
		left: calc(-1 * var(--sidebar-width-open)); /* hide off-screen */
		padding-bottom: 60px; /* over mobile soft keys < O # */
	}

	body:has(#burger:checked) nav {
		left: 0; /* slide in sidebar */
	}

	#content {
		margin-left: 0; /* remove content offset */
	}
}

@media print {
	nav, header {
		display: none;
	}

	#content {
		margin: 0;
	}
}
